# Sources
*.cpp   text diff=cpp
*.hpp   text diff=cpp
*.h     text diff=cpp

# Correct C++ over C
*.h linguist-language=fish
*.cpp linguist-language=fish

# Ignore libraries for language detection
libs/** linguist-vendored
